@import "./style2.css";

.main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 65% 20%;
}

.header, .footer, .center,
.sideBarLeft, .sideBarRight {
    padding: 15px;
    display: grid;
    justify-items: center;
}

.header {
    background: linear-gradient(66deg, rgba(0,0,0,1) 0%,
    rgba(253,29,29,1) 39%, rgba(242,232,8,1) 100%);
    grid-auto-rows: minmax(120px, auto);
    grid-template-columns: 13% 45% 42%;
    align-items: center;
}

.logo1 {
    width: 80%;
}

.logo1:hover {
    perspective: 400px;
    transform: rotate3d(0, 0, 1, 180deg);
}

.headerButton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media(max-width: 870px) {
    .photoName input[type="text"] {
        width: 155px;
    }
    .headerButton {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 100%;
    }
}

.MyInform {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
    font-weight: bold;
    font-size: 14px;
}

.btns {
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.photoMy {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.photoName input[type="password"] {
    width: 155px;
}

button {
    width: 97%;
    height: 50px;
    background-color: yellow;
    box-shadow: 5px 5px 15px 5px #000000;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(255, 94, 0);
}

.mcdonalds, .registration {
    width: 100px;
    height: 35px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.leftButton {
    width: 200px;
    height: 50px;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.center {
    background-image: url(https://wallpapercave.com/wp/wp1919492.jpg);
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(630px, auto);
}

.sideBarLeft {
    grid-template-rows: repeat(4, 100px);
    align-items: center;
}

.sideBarRight {
    height: 300px;
    margin-top: 30px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 5px 5px 15px 5px #000000;
    grid-template-rows: 70% 30%;
    align-items: center;
}

.sideBarRightPhoto {
    width: 70%;
}

.sideBarRightPhoto:hover {
    transform: scale(1.5);
    transition: all 1s ease 0s;
    border-radius: 20%;
}

.textRight {
    margin: 20px;
    font-size: 40px;
    color: #A7DD3C;
    text-shadow:2px 0 0px #800040,
                3px 2px 0px rgba(77,0,38,0.5),
                3px 0 3px #FF002B, 5px 0 3px #800015,
                6px 2px 3px rgba(77,0,13,0.5),
                6px 0 9px #FF5500, 8px 0 9px #802A00,
                9px 2px 9px rgba(77,25,0,0.5),
                9px 0 18px #FFD500, 11px 0 18px #806A00,
                12px 2px 18px rgba(77,66,0,0.5),
                12px 0 30px #D4FF00, 14px 0 30px #6A8000,
                15px 2px 30px rgba(64,77,0,0.5),
                15px 0 45px #80FF00, 17px 0 45px #408000,
                17px 2px 45px rgba(38,77,0,0.5);
    text-align: center;
}

.text {
    height: 400px;
    background: rgba(49,54,58,0.58);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

.text::-webkit-scrollbar {
    width: 12px;
    background: yellow;
    border-radius: 10px;
}

.text::-webkit-scrollbar-thumb {
    background-color: #e91b1b;
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px black
}

.bigMac {
    width: 50%;
    float: right;
}

.textdiv {
    padding: 10px;
    font-size: 32px;
    color: #FFFFFF;
    text-shadow:0 -1px 4px #FFF,
                0 -2px 10px #ff0,
                0 -10px 20px #ff8000,
                0 -18px 40px #F00;
}


.footer {
    grid-auto-rows: minmax(200px, auto);
    background: linear-gradient(321deg, rgba(0,0,0,1) 0%, rgba(253,29,29,1) 41%, rgba(242,232,8,1) 100%);
    grid-template-columns: 2fr 1fr 2fr;
}

.footerLogo {
    height: 80%;
}

.footerText {
    font-size: 18px;
    width: 340px;
}

ul {
    padding-inline-start: 20px;
}

