body {
    background-image: url(https://st2.depositphotos.com/3462697/7187/i/600/depositphotos_71875659-stock-photo-black-and-white-chessboard-background.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 0 0 70px 0;
    font-size: 50px;
    color: rgb(177, 18, 44);
    text-shadow: -4px 4px rgba(179,179,179,.4),
    -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2),
    -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5),
    1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7),
    3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9),
    5px -5px rgba(77,77,77,1), 18px -14px 5px rgba(206,48,103,0.52);
}

table {
    margin: 0 auto;
    border: 1px solid black;
    border-spacing: 0;
    cursor: pointer;
    box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B,
    0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2,
    0px 0px 0px 39px #DADDDA, 5px 5px 15px 5px rgba(0,0,0,0);
}

tr th {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.centr1 th:nth-child(odd), .centr2 th:nth-child(even),
.centrB1 th:nth-child(odd), .centrB2 th:nth-child(even) {
    background-color: white;
}

.centr1 th:nth-child(even), .centr2 th:nth-child(odd),
.centrB1 th:nth-child(even), .centrB2 th:nth-child(odd) {
    background-color: rgb(44, 43, 43);
}

tr:first-child, tr:last-child,
.centr1 th:first-child, .centr1 th:last-child,
.centr2 th:first-child, .centr2 th:last-child,
.centrB1 th:first-child, .centrB1 th:last-child,
.centrB2 th:first-child, .centrB2 th:last-child {
    background-color: rgb(255, 0, 55);
    background-image: none;
}

.centrB1 th, .centrB2 th{
    background-image: url(./chess.png);
    background-repeat: no-repeat;
}

.pawnBlack {
    background-position: -265px -3px;
}

.RookB {
    background-position: -106px -3px;
}

.KnightB {
    background-position: -212px -3px;
}

.BishopB {
    background-position: -159px -3px;
}

.QueenB {
    background-position: -52px -3px;
}

.KingB {
    background-position: 2px -1px;
}

.pawnWhite {
    background-position: -265px -53px;
}

.RookW {
    background-position: -106px -53px;
}

.KnightW {
    background-position: -212px -53px;
}

.BishopW {
    background-position: -159px -53px;
}

.QueenW {
    background-position: -52px -53px;
}

.KingW {
    background-position: 1px -52px;
}
