body {
    background-image: url(https://static7.depositphotos.com/1278966/761/i/950/depositphotos_7616729-stock-photo-numbers-background-light.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 55px;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: blue;
}

.calc {
    margin: 50px 200px;
    height: 448px;
    width: 300px;
    border: 3px solid black;
    border-radius: 2%;
    background-color: rgb(226, 221, 221);
    box-shadow: -10px 0px 13px -7px #000000,
        10px 0px 13px -7px #000000,
        -15px -6px 15px 4px rgba(0,0,0,0.18);
    line-height: 10px;
}

.screen {
    width: 272px;
    height: 100px;
    overflow-y: scroll;
    padding-left: 16px;
    line-height: 15px;
    cursor: pointer;
}

.input input {
    border: 1px solid black;
    width: 277px;
    height: 50px;
    background-color: rgb(173 178 204);
    font-size: 30px;
    margin-left: 12px;
}

.mainTable {
    width: 300px;
    height: 282px;
    background-color: rgb(226, 221, 221);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    table-layout: fixed;
    border-spacing: 10px;
    cursor: pointer;
}

tr td {
    background: linear-gradient(40deg, rgba(134,129,210,1) 0%,
        rgba(236,236,242,1) 100%, rgba(255,255,255,1) 100%);
}

td:hover {
    background: rgb(134,129,210);
}
