%displayMain {
    padding: 15px;
    display: grid;
    justify-items: center;
}

@mixin size ($w, $h) {
    width: $w;
    height: $h;
}

@mixin position ($pos, $top, $left) {
    position: $pos;
    top: $top;
    left: $left;
}

@mixin border ($bord, $radius, $shadow) {
    border: $bord;
    border-radius: $radius;
    box-shadow: $shadow;
}

@mixin text ($fsize, $color, $tshadow, $fweight, $tdecor, $talign) {
    font-size: $fsize;
    color: $color;
    text-shadow: $tshadow;
    font-weight: $fweight;
    text-decoration: $tdecor;
    text-align: $talign;
}


