@import 'mixinTemplate.scss';
@import 'modal.scss';

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

button {
    @include size (97%, 50px);
    background-color: yellow;
    box-shadow: 5px 5px 15px 5px #000000;
    font-size: 20px;
    font-weight: bold;
    &:hover {
        background-color: rgb(255, 94, 0);
    }
}

.main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 65% 20%;
    min-width: 550px;
    .header {
        @extend %displayMain;
        background: linear-gradient(66deg, rgba(0,0,0,1) 0%,
        rgba(253,29,29,1) 39%, rgba(242,232,8,1) 100%);
        grid-auto-rows: minmax(120px, auto);
        grid-template-columns: 13% 45% 42%;
        align-items: center;
        perspective: 700px;
        @media(max-width: 870px) {
            & {
                grid-template-columns: 10% 30% 60%;
            }
        }
        .logo1 {
            width: 80%;
            animation: spin 1s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
            @keyframes spin {
                0% {
                    transform: rotateY(0deg);
                }
                100% {
                    transform: rotateY(360deg);
                }
            }
        }
        .headerButton {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            @media(max-width: 870px) {
                & {
                    grid-template-rows: repeat(3, 1fr);
                    grid-template-columns: 100%;
                }
            }
        }
        .myInform {
            .myInform__div{
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 10px;
                @include border (2px solid, 10px, 5px 5px 15px 5px #000000);
                padding: 5px;
                font-weight: bold;
                font-size: 14px;
                .btns {
                    display: grid;
                    grid-template-rows: 50% 50%;
                    align-items: center;
                    .mcdonalds, .registration {
                        @include size (100px, 35px);
                        margin-top: 5px;
                        font-size: 14px;
                        font-weight: bold;
                        .photoMy {
                            @include size (30px, 30px);
                            border-radius: 50%;
                        }
                    }
                }
                .photoName input[type="password"] {
                    width: 155px;
                    @media(max-width: 621px) {
                        & {
                            width: 178px;
                        }
                    }
                }
            }
        }
    }
    .center {
        @extend %displayMain;
        background-image: url(https://wallpapercave.com/wp/wp1919492.jpg);
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax(630px, auto);
        @media(max-width: 870px) {
            & {
                grid-template-columns: 1fr 2fr;
                grid-template-rows: repeat(2, 1fr);
            }
        }
        .sideBarLeft {
            @extend %displayMain;
            grid-template-rows: repeat(4, 100px);
            align-items: center;
            .leftButton {
                @include size (200px, 50px);
            }
        }
        .text {
            height: 400px;
            background: rgba(49,54,58,0.58);
            margin: 20px;
            padding: 10px;
            border-radius: 10px;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 12px;
                background: yellow;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #e91b1b;
                @include border (0px solid, 10px, inset 1px 1px 10px black);
            }
            .bigMac {
                width: 50%;
                float: right;
            }
            .textdiv {
                padding: 10px;
                font-size: 32px;
                color: #FFFFFF;
                text-shadow:0 -1px 4px #FFF,
                            0 -2px 10px #ff0,
                            0 -10px 20px #ff8000,
                            0 -18px 40px #F00;
            }
        }
        .sideBarRight {
            @extend %displayMain;
            height: 300px;
            margin-top: 30px;
            background-color: yellow;
            @include border (2px solid, 10%, 5px 5px 15px 5px #000000);
            grid-template-rows: 70% 30%;
            align-items: center;
            @media(max-width: 870px) {
                & {
                    grid-column: 1/3;
                }
            }
            .sideBarRightPhoto {
                height: 70%;
                &:hover {
                    transform: scale(1.5);
                    transition: all 1s ease 0s;
                    border-radius: 20%;
                }
            }
            .textRight {
                margin: 20px;
                font-size: 40px;
                color: #A7DD3C;
                text-shadow:2px 0 0px #800040,
                            3px 2px 0px rgba(77,0,38,0.5),
                            3px 0 3px #FF002B, 5px 0 3px #800015,
                            6px 2px 3px rgba(77,0,13,0.5),
                            6px 0 9px #FF5500, 8px 0 9px #802A00,
                            9px 2px 9px rgba(77,25,0,0.5),
                            9px 0 18px #FFD500, 11px 0 18px #806A00,
                            12px 2px 18px rgba(77,66,0,0.5),
                            12px 0 30px #D4FF00, 14px 0 30px #6A8000,
                            15px 2px 30px rgba(64,77,0,0.5),
                            15px 0 45px #80FF00, 17px 0 45px #408000,
                            17px 2px 45px rgba(38,77,0,0.5);
                text-align: center;
            }
        }
    }
    .footer {
        @extend %displayMain;
        grid-auto-rows: minmax(200px, auto);
        background: linear-gradient(321deg, rgba(0,0,0,1) 0%,
        rgba(253,29,29,1) 41%, rgba(242,232,8,1) 100%);
        grid-template-columns: 2fr 1fr 2fr;
        .footerLogo {
            width: 70%;
        }
        .footerText {
            font-size: 15px;
            @media(max-width: 870px) {
                & {
                    font-size: 14px;
                }
            }
            ul {
                padding-inline-start: 10px;
            }
        }
    }
}
